<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportViewer.Properties.Settings.ReportingConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Reporting;Integrated Security=True" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
